@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
    var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
    var obj = @Html.Raw(Json.Encode(Model));
    var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
    var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "", idCliente=Model.Id })';
    var urlBeneficiarioAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
    var urlBeneficiarioDeletar = '@Url.Action("Excluir", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/listBeneficiarios")
    @Scripts.Render("~/bundles/formBeneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
<div id="modal" class="modal fade" role="dialog" />